<configuration>
  <appSettings>
    <add key="URL" value="https://test1.migdal.co.il/He/Pages/MigdalHomePage.aspx" />
    <add key="ContactPageURL" value="https://test1.migdal.co.il/He/Services/ContactUs/Pages/ContactUs.aspx" />
    <add key="TddPath" value="MigdalSite\TestDataDriven\Test\TestDataDriven_Test.xml" />
    <add key="SystemInfo" value="Test" />
    <add key="Report_Path" value="Reports\MigdalSite\Test\" />
    <add key="Report_File_Name" value="Test_Report" />
    <add key="ScreenShots_Path" value="SeleniumScreenShots\MigdalSite\Test" />
    <add key="PicturePath" value="Pictures\" />
    <add key="Driver_Timeout" value="60" />
    <add key="Driver_Set_Page_script_Timeout" value="90" />
    <add key="FindAgentPageURL" value="https://test1.migdal.co.il/He/Services/AgentIndex/Pages/default.aspx" />
  </appSettings>
</configuration>