<configuration>
  <appSettings>
    <add key="URL" value="https://www.migdal.co.il/He/Pages/MigdalHomePage.aspx"/>
    <add key="ContactPageURL" value="https://www.migdal.co.il/He/Services/ContactUs/Pages/ContactUs_form.aspx"/>
    <add key="TddPath" value="MigdalSite\TestDataDriven\Prod\TestDataDriven_Prod.xml"/>
    <add key="SystemInfo" value="Production"/>
    <add key="Report_Path" value="Reports\MigdalSite\Prod\"/>
    <add key="Report_File_Name" value="Prod_Report"/>
    <add key ="ScreenShots_Path" value="SeleniumScreenShots\MigdalSite\Prod"/>
    <add key="PicturePath" value="Pictures\"/>
    <add key="Driver_Timeout" value="60"/>
    <add key="Driver_Set_Page_script_Timeout" value="90" />
    <add key ="FindAgentPageURL" value="https://www.migdal.co.il/He/Services/AgentIndex/Pages/default.aspx"/>
  </appSettings>
</configuration>